footer {
    background: hsl(0, 0%, 14%);
    color: hsl(0, 0%, 71%);
    strong {
     color:  hsl(0, 0%, 71%);
    }
    a {
    color: hsl(171, 100%, 41%);
    }
    a:hover {
    color: white;
    }
    }