
    <section id="parallax-2" class="hero is-medium">
        <div class="hero-body">
          <div class="container">
            <div class="columns">
              <div class="column is-6">
                <h1 class="title is-1 title1">Equipo de Desarrollo</h1>
                <hr class="content-divider">
               
                
              </div>
            </div>
          </div>
        </div>
      </section>



      <section class="sectionabout ">
        <div class="container pt-6">
        <div class="columns pt-6">
        <div class="column is-10 is-offset-1">
        <div class="columns featured-post is-multiline">
        <div class="column is-12 post">
        <article class="columns featured">
        <div class="column is-7 post-img ">
        <img src="/assets/images/ani2.jpg" alt="">
        </div>
        <div class="column is-5 featured-content va">
        <div>
        <h3 class="heading post-category">Diseñadora Web </h3>
        <h1 class="title post-title">Anisol Navia</h1>
        <p class="post-excerpt">Diseñadora con amplia trayectoria, desde pequeña interesada en las artes visuales, pasando desde la fotografía , el dibujo, las artes plasticas, hasta los software de diseño. Su primera carrera profesional fue Diseño
        gráfico, luego continuó en el bellas artes de Viña del Mar y por último, la carrera de Diseño Web & Mobile.
        <br>
        
        </div>
        </div>
        </article>
        </div>
        </div>
        </div>
        </div>
        <div class="columns py-6">
        <div class="column is-10 is-offset-1">
        <div class="columns featured-post is-multiline">
        <div class="column is-12 post">
        <article class="columns featured">
        <div class="column is-7 post-img ">
        <img src="/assets/images/boli.jpg" alt="">
        </div>
        <div class="column is-5 featured-content va">
        <div>
        <h3 class="heading post-category">Diseñadora Web</h3>
        <h1 class="title post-title">Mariana Scheihing</h1>
        <p class="post-excerpt">Siempre ligada a los ambistos artisticos y tecnológicos. Partió su carrera desde la necesidad de evolucionar en los medios digitales, siempre estudiando de manera autónoma, ahora está por terminar la carrera Diseño
        Web & Mobile.</p>
        <br>
        
        </div>
        </div>
        </article>
        </div>
        </div>
        </div>
        </div>
        </div>
        </section>