body {
    background-color: #192825;
    }
.button{
  color:black;
}
#parallax-2 {
    background: url(/assets/images/mononoke.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 10px solid turquoise;
  }

  .title1 {
    color: white;
    font-weight: 800;
    font-size: 4rem;
    font-family: 'Nunito Sans', sans-serif;
    text-shadow: 1px 1px 1px #000, 3px 3px 5px rgb(0, 0, 3);
  }
  
  .subtitle {
    color: white;
    font-size: 1.2rem;
    text-shadow: 1px 1px 1px #000, 3px 3px 5px rgb(0, 0, 3);
  }

  